<h1>Login Page</h1>

<%= form_for(:session, url: session_path) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
  <p>
  <div id="register">
  If you are a new user, please <%= link_to "Register", new_user_path %> for an account.
  </div>
<% end %>
