<h1>Login Page</h1>

<%= form_for(:session, url: session_path) do |f| %>
  <div class="col-xs-1">
    <%= f.label :email %>
  </div>
  <div class="row">
    <div class="col-xs-4" style="font-family: verdana;">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="col-xs-1">
    <%= f.label :password %>
  </div>
  <div class="row">
    <div class="col-xs-4" style="font-family: verdana;">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="col-xs-1" style="margin-top: 5px;">
    <%= f.submit "Submit" %>
  </div>
  <div class="col-xs-4" id="register" style="margin-top: 5px;">
  If you are a new user, please <%= link_to "Register", new_user_path %> for an account.
  </div>
<% end %>
