<header>
  <div class="row">
    <div class="col-xs-8" id="restaurant-name">
      <h1>Sheazonne's Italian Restaurant</h1>
    </div>
    <div class="col-xs-4" id="login-register">
      <div style="float: right; padding-top: 30px; padding-right: 50px; font-size: 20px;">
        <% if current_user %>
          <span class="user-welcome">Welcome, <%= current_user.username.capitalize %>!</span>
          <span><%= link_to "Logout", session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to "Login", new_session_path %></span> |
          <span><%= link_to "Register", new_user_path %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div id="categories">
        <%= link_to "Home", root_path %> |
        <%= link_to "Menu", menu_path %>
        <% if current_user %>
          <%= link_to "My Account", "#" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4">
      <div id="cart">
        <%= link_to "Cart:", cart_items_path %> <%= cart.total_count %> items
      </div>
    </div>
  </div>
</header>
  
