<header style="padding: 10px; border-bottom: solid black;">
  <div class="row">
    <div class="col-xs-8" id="restaurant-name">
      <h1>Sheazonne's Italian Restaurant</h1>
    </div>
    <div class="col-xs-4" id="login-register">
      <div style="float: right; padding-top: 30px; font-size: 25px;">
        <% if current_user %>
          <span>Welcome, <%= current_user.username.capitalize %>!</span>
          <span><%= link_to "Logout", session_path, method: :delete %></span>
        <% else %>
          <span><%= link_to "Login", new_session_path  %></span> |
          <span><%= link_to "Register", new_user_path %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div id="categories" style="font-size: 25px;">
        <%= link_to "Home", root_path %> |
        <%= link_to "Menu", menu_path %>
      </div>
    </div>
    <div class="col-xs-4">
      <div id="cart" style="float: right; padding-right: 50px;">
        <%= link_to "Cart:", cart_items_path %> <%= cart.total_count %>
      </div>
    </div>
  </div>
</header>
  
