<h1>Cart Page</h1>
<% if cart.total_count > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    <% cart.data.each do |id, quantity| %>
      <% item = Item.find(id) %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= formatted_price(item.price) %></td>
      <td><%= quantity %></td>
      <td><%= formatted_price(item.price * quantity) %></td>
    </tr>
    <% end %>
  </tbody>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Total:</th>
    <th><%= formatted_price(cart.total_cost) %></th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <% if current_user %>
      <th><%= button_to "Place Order", user_orders_path(current_user.id) %></th>
    <% else %>
      <th><%= link_to "Place Order", new_session_path %></th>
    <% end %>
  </tr>
</table>
<% else %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
      <h1>Cart is empty</h1>
    </div>
  </div>
<% end %>
