<h1>Cart Page</h1>
<% if cart.total_count > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th>Quantity</th>
      <th></th>
      <th>Sub-Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% cart.data.each do |id, quantity| %>
      <% item = Item.find(id) %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= formatted_price(item.price) %></td>
      <td style="float: right;"><%= button_to "+", cart_item_path(item.id, modify: "increase"), method: :put %>
      <td class="item-quantity" style="text-align: center; width: 30px;"><%= quantity %></td>
      <td style="float: left;"><%= button_to "-", cart_item_path(item.id, modify: "decrease"), method: :put %>
      <td><%= formatted_price(item.price * quantity) %></td>
      <td><%= button_to "Remove", cart_item_path(item.id), method: :delete %>
    </tr>
    <% end %>
  </tbody>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Total:</th>
    <th><%= formatted_price(cart.total_cost) %></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <% if current_user %>
      <th><%= button_to "Place Order", user_orders_path(current_user.id), class: "btn btn-default", style: "background-color: #B7C1C9;" %></th>
    <% else %>
      <th><%= link_to "Place Order", new_session_path, class: "btn btn-default", style: "background-color: #B7C1C9;" %></th>
    <% end %>
  </tr>
</table>
<% else %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
      <h1>Cart is empty</h1>
    </div>
  </div>
<% end %>
